body {
  background: url("/images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 30% 30%;
}
.content-wrap {
  opacity: 0.9;
}
.sidebar {
  opacity: 0.9;
}
code {
  color: #b294bb;
  background: #1d1f21;
  margin: 2px;
}
